<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Harvest_Savior_MobileDev"
        tools:targetApi="31">
        <activity
            android:name=".lib.onboard_activity.view.OnBoardActivity"
            android:exported="false" />
        <activity
            android:name=".lib.penjual.daftar_penjual_activity.view.DaftarPenjualActivity"
            android:exported="false" />
        <activity
            android:name=".lib.penjual.edit_obat_activity.view.EditObatActivity"
            android:exported="false" />
        <activity
            android:name=".lib.penjual.home_penjual_activity.view.HomePenjualActivity"
            android:exported="false" />
        <activity
            android:name=".lib.penjual.login_penjual_activity.view.LoginPenjualActivity"
            android:exported="false" />
        <activity
            android:name=".lib.petani.daftar_petani_activity.view.DaftarPetaniActivity"
            android:exported="false" />
        <activity
            android:name=".lib.petani.dashboard_petani_activity.view.DashboardPetaniActivity"
            android:exported="false" />
        <activity
            android:name=".lib.petani.detail_obat_activity.view.DetailObatActivity"
            android:exported="false" />
        <activity
            android:name=".lib.splash_screen.view.SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".lib.petani.login_petani_activity.view.LoginPetaniActivity"
            android:exported="false" />
        <activity
            android:name=".lib.main_activity.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>